* {
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: permanent_marker;
    src: url(../fuente/PermanentMarker-Regular.ttf);
}
header div img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 70px;
    margin-top: 5px;
    margin-left: 5px;
}
.body-index{
    display: grid;
    grid-template-areas: 
    "header"
    "logo"
    "section"
    "footer";
    grid-template-columns: 1fr;
    background-color: #0d4e77;
}

@media screen and (min-width: 1024px) {
    .body-index{
        grid-template-areas: 
        "header header"
        "logo logo"
        "section section"
        "footer footer";
        grid-template-columns: repeat(2, 1fr);
    }
    
}

.barra-incio{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    background-color: #fffb98;
    border-radius: 5px;
    font-family: permanent_marker;
}
@media screen and (min-width: 1024px){
    .barra-inicio {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
ul li{
    display: flex;
    justify-content: center;
    list-style: none;
    text-decoration: none;
    margin-bottom: 5px;
    background-color: #fffb98;
    border-radius: 5px;
    font-family: permanent_marker;
}
@media screen and (min-width: 1024px) {
    .barra-lista{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }
}
header{
    grid-area: header;
    background-color: #ff8b08;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
    grid-area: section; 
    background-color: #fffb98;
}
.padre-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    padding: 5px;
}
@media screen and (min-width: 1024px) {
    .padre-banner {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: 40px;
    }
    
}
.hijo-banner{
    text-align: center;
}

footer{
    grid-area: footer;
    background-color: #ff8b08;
}
footer{
    display: flex;
    justify-content: center;
}
footer img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.logo-index{
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-index img{
    width: 320px;
    height: 180px;
    margin-top: 5px;
    margin-bottom: 5px;
}
@media screen and (min-width: 1024px) {
    .logo-index img {
        width: 1024px;
        height: 650px;
    }
    
}
.body-productos{
    background-color: #0d4e77;
}
.contenedor-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contenedor-productos img{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #fffb98;
    border-radius: 5%;
    margin-bottom: 10px;
}
@media screen and (min-width: 1024px) {
    .contenedor-productos {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 20px;
        justify-items: center;
    }
    
}
.contenedor-productos span h2{
    font-family: permanent_marker;
    background-color: #fffb98;
    border-radius: 5px;
}

.body-nosotros{
    background-color: #0d4e77;

}
.contenedor-nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
@media screen and (min-width: 1024px) {
    .contenedor-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        margin: 20px;
        justify-items: center;
    }
    
}
.contenedor-nosotros img{
    width: 250px;
    height: 250px;
    border-style: solid;
    border-color: #fffb98;
    border-radius: 5%;
}
div h2{
    display: flex;
    justify-content: center;
    font-family: permanent_marker;
    background-color: #fffb98;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}
div h3{
    display: flex;
    justify-content: center;
    font-family: permanent_marker;
    background-color: #fffb98;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
div h4{
display: flex;
    justify-content: center;
    font-family: permanent_marker;
    background-color: #fffb98;
    border-radius: 5px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 30px;
}
div p{
    background-color: #fffb98;
    border-radius: 5px;
    margin: 10px;
}
.body-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.body-form{
    background-color: #0d4e77;
    border-radius: 5px;
    padding: 43px;
}
.body-form form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.celda{
    border-radius: 5px;
    background-color: #fffb98;
    font-family: permanent_marker;
}
.boton-formulario{
    margin-bottom: 10px;
    background-color: #ff8b08;
    border-radius: 5px;
    width: 80px;
    height: 35px;
    font-family: permanent_marker;
}
.informacion{
    background-color: #0d4e77;
    border-radius: 5px;
    margin: 5px 2px 5px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.informacion ul li{
    font-size: 15px;
    margin: 5px 5px 5px 5px;
}
.mapa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #ff8b08;
    border-radius: 5px;
    width: 304px;
    height: 154px;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}